# Data Wrangling

In [4]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('train.csv',header = None,names = ["buying","maint","doors","persons","lug_boot","safety","acceptability"])
df.head()

  buying  maint doors persons lug_boot safety acceptability
0  vhigh  vhigh     2       2    small    low         unacc
1  vhigh  vhigh     2       2    small    med         unacc
2  vhigh  vhigh     2       2    small   high         unacc
3  vhigh  vhigh     2       2      med    low         unacc
4  vhigh  vhigh     2       2      med    med         unacc

In [13]:
df.dtypes

buying           object
maint            object
doors            object
persons          object
lug_boot         object
safety           object
acceptability    object
dtype: object

In [15]:
df['buying_price'] = df.buying.astype("category").cat.codes

In [16]:
df

     buying  maint  doors persons lug_boot safety acceptability  buying_price
0     vhigh  vhigh      2       2    small    low         unacc             3
1     vhigh  vhigh      2       2    small    med         unacc             3
2     vhigh  vhigh      2       2    small   high         unacc             3
3     vhigh  vhigh      2       2      med    low         unacc             3
4     vhigh  vhigh      2       2      med    med         unacc             3
5     vhigh  vhigh      2       2      med   high         unacc             3
6     vhigh  vhigh      2       2      big    low         unacc             3
7     vhigh  vhigh      2       2      big    med         unacc             3
8     vhigh  vhigh      2       2      big   high         unacc             3
9     vhigh  vhigh      2       4    small    low         unacc             3
10    vhigh  vhigh      2       4    small    med         unacc             3
11    vhigh  vhigh      2       4    small   high         unacc             3
12    vhigh  vhigh      2       4      med    low         unacc             3
13    vhigh  vhigh      2       4      med    med         unacc             3
14    vhigh  vhigh      2       4      med   high         unacc             3
15    vhigh  vhigh      2       4      big    low         unacc             3
16    vhigh  vhigh      2       4      big    med         unacc             3
17    vhigh  vhigh      2       4      big   high         unacc             3
18    vhigh  vhigh      2    more    small    low         unacc             3
19    vhigh  vhigh      2    more    small    med         unacc             3
20    vhigh  vhigh      2    more    small   high         unacc             3
21    vhigh  vhigh      2    more      med    low         unacc             3
22    vhigh  vhigh      2    more      med    med         unacc             3
23    vhigh  vhigh      2    more      med   high         unacc             3
24    vhigh  vhigh      2    more      big    low         unacc             3
25    vhigh  vhigh      2    more      big    med         unacc             3
26    vhigh  vhigh      2    more      big   high         unacc             3
27    vhigh  vhigh      3       2    small    low         unacc             3
28    vhigh  vhigh      3       2    small    med         unacc             3
29    vhigh  vhigh      3       2    small   high         unacc             3
...     ...    ...    ...     ...      ...    ...           ...           ...
1698    low    low      4    more      big    low         unacc             1
1699    low    low      4    more      big    med          good             1
1700    low    low      4    more      big   high         vgood             1
1701    low    low  5more       2    small    low         unacc             1
1702    low    low  5more       2    small    med         unacc             1
1703    low    low  5more       2    small   high         unacc             1
1704    low    low  5more       2      med    low         unacc             1
1705    low    low  5more       2      med    med         unacc             1
1706    low    low  5more       2      med   high         unacc             1
1707    low    low  5more       2      big    low         unacc             1
1708    low    low  5more       2      big    med         unacc             1
1709    low    low  5more       2      big   high         unacc             1
1710    low    low  5more       4    small    low         unacc             1
1711    low    low  5more       4    small    med           acc             1
1712    low    low  5more       4    small   high          good             1
1713    low    low  5more       4      med    low         unacc             1
1714    low    low  5more       4      med    med          good             1
1715    low    low  5more       4      med   high         vgood             1
1716    low    low  5more       4      big    low         unacc             1
1717    low    low  5more       4      big    med          good             1
1718    low    low  5more       4      big   high         vgood             1
1719    low    low  5more    more    small    low         unacc             1
1720    low    low  5more    more    small    med           acc             1
1721    low    low  5more    more    small   high          good             1
1722    low    low  5more    more      med    low         unacc             1
1723    low    low  5more    more      med    med          good             1
1724    low    low  5more    more      med   high         vgood             1
1725    low    low  5more    more      big    low         unacc             1
1726    low    low  5more    more      big    med          good             1
1727    low    low  5more    more      big   high         vgood             1

[1728 rows x 8 columns]

In [17]:
df.head()

  buying  maint doors persons lug_boot safety acceptability  buying_price
0  vhigh  vhigh     2       2    small    low         unacc             3
1  vhigh  vhigh     2       2    small    med         unacc             3
2  vhigh  vhigh     2       2    small   high         unacc             3
3  vhigh  vhigh     2       2      med    low         unacc             3
4  vhigh  vhigh     2       2      med    med         unacc             3

In [18]:
df['maintenance'] = df.maint.astype("category",ordered = True).cat.codes
df['luggage_boot'] = df.lug_boot.astype("category",ordered = True).cat.codes
df["safety1"] = df.safety.astype("category",ordered = True).cat.codes
df["accept"] = df.acceptability("category",ordered = True).cat.codes
df.head()

c:\users\abid inamdar\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.
c:\users\abid inamdar\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead

c:\users\abid inamdar\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  This is separate from the ipykernel package so we can avoid doing imports until

TypeError: 'Series' object is not callable

In [19]:
df.head()

,buying,maint,doors,persons,lug_boot,safety,acceptability,buying_price,maintenance,luggage_boot,safety1
0,vhigh,vhigh,2,2,small,low,unacc,3,3,2,1
1,vhigh,vhigh,2,2,small,med,unacc,3,3,2,2
2,vhigh,vhigh,2,2,small,high,unacc,3,3,2,0
3,vhigh,vhigh,2,2,med,low,unacc,3,3,1,1
4,vhigh,vhigh,2,2,med,med,unacc,3,3,1,2

In [21]:
df.drop(columns = ["buying","maint","lug_boot","safety","acceptability"],inplace = True)

In [22]:
df.head()

  doors persons  buying_price  maintenance  luggage_boot  safety1
0     2       2             3            3             2        1
1     2       2             3            3             2        2
2     2       2             3            3             2        0
3     2       2             3            3             1        1
4     2       2             3            3             1        2

In [24]:
df.dtypes

doors           object
persons         object
buying_price      int8
maintenance       int8
luggage_boot      int8
safety1           int8
dtype: object

In [29]:
df['doors2'] = pd.to_numeric(df.doors, errors = 'coerce')
df['persons2'] = pd.to_numeric(df.persons, errors = 'coerce')
df.head()

,doors,persons,buying_price,maintenance,luggage_boot,safety1,doors2,persons2
0,2,2,3,3,2,1,2.0,2.0
1,2,2,3,3,2,2,2.0,2.0
2,2,2,3,3,2,0,2.0,2.0
3,2,2,3,3,1,1,2.0,2.0
4,2,2,3,3,1,2,2.0,2.0

In [30]:
df.dtypes

doors            object
persons          object
buying_price       int8
maintenance        int8
luggage_boot       int8
safety1            int8
doors2          float64
persons2        float64
dtype: object

In [37]:
df.drop(columns = ["doors","persons"], inplace = True)

In [38]:
df.head()

   buying_price  maintenance  luggage_boot  safety1  doors2  persons2
0             3            3             2        1     2.0       2.0
1             3            3             2        2     2.0       2.0
2             3            3             2        0     2.0       2.0
3             3            3             1        1     2.0       2.0
4             3            3             1        2     2.0       2.0

In [39]:
df.mean(axis = 0)

buying_price    1.5
maintenance     1.5
luggage_boot    1.0
safety1         1.0
doors2          3.0
persons2        3.0
dtype: float64

In [40]:
df.fillna(df.mean(axis = 0,), inplace = True)
df.isna()

      buying_price  maintenance  luggage_boot  safety1  doors2  persons2
0            False        False         False    False   False     False
1            False        False         False    False   False     False
2            False        False         False    False   False     False
3            False        False         False    False   False     False
4            False        False         False    False   False     False
5            False        False         False    False   False     False
6            False        False         False    False   False     False
7            False        False         False    False   False     False
8            False        False         False    False   False     False
9            False        False         False    False   False     False
10           False        False         False    False   False     False
11           False        False         False    False   False     False
12           False        False         False    False   False     False
13           False        False         False    False   False     False
14           False        False         False    False   False     False
15           False        False         False    False   False     False
16           False        False         False    False   False     False
17           False        False         False    False   False     False
18           False        False         False    False   False     False
19           False        False         False    False   False     False
20           False        False         False    False   False     False
21           False        False         False    False   False     False
22           False        False         False    False   False     False
23           False        False         False    False   False     False
24           False        False         False    False   False     False
25           False        False         False    False   False     False
26           False        False         False    False   False     False
27           False        False         False    False   False     False
28           False        False         False    False   False     False
29           False        False         False    False   False     False
...            ...          ...           ...      ...     ...       ...
1698         False        False         False    False   False     False
1699         False        False         False    False   False     False
1700         False        False         False    False   False     False
1701         False        False         False    False   False     False
1702         False        False         False    False   False     False
1703         False        False         False    False   False     False
1704         False        False         False    False   False     False
1705         False        False         False    False   False     False
1706         False        False         False    False   False     False
1707         False        False         False    False   False     False
1708         False        False         False    False   False     False
1709         False        False         False    False   False     False
1710         False        False         False    False   False     False
1711         False        False         False    False   False     False
1712         False        False         False    False   False     False
1713         False        False         False    False   False     False
1714         False        False         False    False   False     False
1715         False        False         False    False   False     False
1716         False        False         False    False   False     False
1717         False        False         False    False   False     False
1718         False        False         False    False   False     False
1719         False        False         False    False   False     False
1720         False        False         False    False   False     False
1721         False        False         False    False   False     False
1722         False        False         False    False   False     False
1723         False        False         False    False   False     False
1724         False        False         False    False   False     False
1725         False        False         False    False   False     False
1726         False        False         False    False   False     False
1727         False        False         False    False   False     False

[1728 rows x 6 columns]

In [ ]:
#Some methods for data preprocessing