In [1]:
import pandas as pd

In [2]:
ordered_satisafaction = ['Very Unhappy','Unhappy','Neutral','Happy',"Very Happy"]
df = pd.DataFrame({'satisfaction':['Mad','Unhappy','Happy','Neutral']})
df

  satisfaction
0          Mad
1      Unhappy
2        Happy
3      Neutral

In [9]:
df['satisfaction2'] = df.satisfaction.astype(dtype='category',ordered = True,categories=ordered_satisafaction)
df

c:\users\abid inamdar\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

  satisfaction satisfaction2
0          Mad           NaN
1      Unhappy       Unhappy
2        Happy         Happy
3      Neutral       Neutral

In [11]:
df.dtypes

satisfaction       object
satisfaction2    category
dtype: object

In [12]:
df.satisfaction2 = df.satisfaction2.cat.codes
df.satisfaction2

0   -1
1    1
2    3
3    2
Name: satisfaction2, dtype: int8

# Nominal to Numeric

## Method 1

In [13]:
df = pd.DataFrame({
    'vertebrates':[
        'Bird',
        "Bird",
        'Mammal',
        'Fish',
        'Amphibian',
        'Reptile',
        'Mammal',
    ]
})
df

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [14]:
df['vertebrates2'] = df.vertebrates.astype(dtype='category').cat.codes
df

  vertebrates  vertebrates2
0        Bird             1
1        Bird             1
2      Mammal             3
3        Fish             2
4   Amphibian             0
5     Reptile             4
6      Mammal             3

## Method 2

In [16]:
df = pd.get_dummies(df,columns=['vertebrates'])
df

,vertebrates2,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,1,0,1,0,0,0
1,1,0,1,0,0,0
2,3,0,0,0,1,0
3,2,0,0,1,0,0
4,0,1,0,0,0,0
5,4,0,0,0,0,1
6,3,0,0,0,1,0

# Textual Feature Encoding

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
corpus = [
    'Authman ran faster than Harray because Authman is real and Harry is fictional',
    'Authman and Harry ran faster than faster and faster ',
    'W00t'
]

In [25]:
bow = CountVectorizer()
X = bow.fit_transform(corpus) #This produces a sparse Matrix
X

<3x12 sparse matrix of type '<class 'numpy.int64'>'
	with 18 stored elements in Compressed Sparse Row format>

In [26]:
bow.get_feature_names()

['and',
 'authman',
 'because',
 'faster',
 'fictional',
 'harray',
 'harry',
 'is',
 'ran',
 'real',
 'than',
 'w00t']

In [27]:
X.toarray()

array([[1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 0],
       [2, 1, 0, 3, 0, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]], dtype=int64)